{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Licence d'utilisation{% endblock %}

{% block body %}
    <!-- page title -->
    <div class="page-title">
            <h1>LICENCE</h1>
            <p>THIS IS THE SUBTIBLE</p>
            
            <ul class="breadcrumb">
                <li><a href="{{path('homepage')}}">ISY-Gestion</a></li>
                <li>LICENCE</li>
            </ul>
        </div>                        
        <!-- ./page title -->
        
        <!-- boxed layout -->
        <div class="wrapper wrapper-white">    
            <h3>Wrapper Title</h3>
            <p>Wrapper content</p>
        </div>
        <!-- ./boxed layout -->
{% endblock %}
