{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Licence d'utilisation{% endblock %}

{% block body %}
    <!-- page title -->
    <div class="page-title">
            <h1>Licence M.I.T</h1>
            <p>Ce projet est sous licence M.I.T et, à ce titre, peut être copié, modifié, réutilisé ... à volonté !</p>
            
            <ul class="breadcrumb">
                <li><a href="{{path('homepage')}}">ISY-Gestion</a></li>
                <li>Licence</li>
            </ul>
        </div>                        
        <!-- ./page title -->
        
        <!-- boxed layout -->
        <div class="wrapper wrapper-white">    
            <h3><a href="https://opensource.org/licenses/MIT" target="_blank">M.I.T License</a></h3>
            <p>
                Copyright (c) 2018 David Evan
            </p>
            <p>
                Permission is hereby granted, free of charge, to any person obtaining a copy
                of this software and associated documentation files (the "Software"), to deal
                in the Software without restriction, including without limitation the rights
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the Software is
                furnished to do so, subject to the following conditions:
            </p>
            <p>
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
            </p>
            <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
            </p>
        </div>
        <!-- ./boxed layout -->
{% endblock %}
