{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Politique de confidentialitée{% endblock %}

{% block body %}
    <!-- page title -->
    <div class="page-title">
            <h1>PRIVACY</h1>
            <p>THIS IS THE SUBTIBLE</p>
            
            <ul class="breadcrumb">
                <li><a href="{{path('homepage')}}">ISY-Gestion</a></li>
                <li>Privacy</li>
            </ul>
        </div>                        
        <!-- ./page title -->
        
        <!-- boxed layout -->
        <div class="wrapper wrapper-white">
        </div>
        <!-- ./boxed layout -->
{% endblock %}