.form-group .form-control[readonly]{
    color: #777;
 }

.form-control::-moz-placeholder {
  color: #b7b7b7;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #b7b7b7;
}
.form-control::-webkit-input-placeholder {
  color: #b7b7b7;
}

.form-group .form-control.light-control{
    background-color: #fff;
}

.growth-increase{
    color: #82b440;
}

.growth-decrease{
    color: #e74e40;
}

.yellow-star {
    color: #f7de00;
}

.header-right {
    margin-top: 20px;
    padding-right: 40px;
}

.header-right div{
    display: inline;
}

.dph-logout
{
    padding-left: 10px;
}
.dph-date{
    padding-right: 10px;
}

.dph-separator:before{
    content : '|';
    font-size: 1.1em;
    position: relative;
    bottom: 1px;
}

.dph-date, 
.dph-logout a{
    font-size: 1.1em;
    font-weight: bold;   
}

.dph-logout a{
    color: #b30000;
}

.input-symbol{
    font-size: 1.1em;
    font-weight: bold;
}

/** Stylizing Form errors **/
form .text-muted ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:  #e10e10;
    font-weight: bold;
}

/** Add bold on tabs **/
ul.nav.nav-tabs>li.active>a{
    font-weight: bold;
}

ul.nav.nav-tabs>li>a{
    font-size: 1.1em;
}

/** Update Profil **/
.profile .profile-info h4{
    font-size: 1.5em;
}
.profile .profile-info h4+span{
    font-size: 1.2em;
}

.profile .profile-image .profile-badges .profile-badges-left, .profile .profile-image .profile-badges .profile-badges-right{
    font-size: 1.2em;   
   }


/** Color change for table-link **/

table a{
    color: #337ab7;
 }

 /** Change profil color border **/
 .wrapper.wrapper-white img, 
.wrapper.wrapper-white .profile-badges i.fa{
    border-color: rgba(230, 230, 230,0.8);
}

/* FontAwesome Maps Marker */
.fa-map-marker{
    color:#ee3840
}

/* Tiny MCE Toolbar color */
.mce-toolbar, .mce-btn{
    background-color:rgba(250,250,250, 0.8) !important;
}

/* Remove border on collapse form */
.input-group-addon.addon-collapse-form{
    border: none;
    background:none;
}
.addon-lockable .fas{
    color: #999;
}

.addon-lockable .fas.fa-unlock{
    color: #bbb;
}
.addon-lockable.light-lock .fas{
    color: #ffffff;
}

/** Remove cross **/
.timeline-item-remove
{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    opacity: 0;
    cursor: pointer;
    transition: 0.6s
}
.timeline-item-remove a
{
    color:#b30000;
    font-size: 1.6em;
    display: block;
}
.timeline-item:hover .timeline-item-remove {
    opacity: 1;
    transition: 0.6s;
}

/*Correct margin on flash info alert only*/
.flash-info.alert{
    margin-bottom: 0;
}

/*  Profile detail dropzone */
.profile-dropzone-container{
    max-width: 200px;
    min-height: 165px;
    margin: auto;
    display: none;
}

.dropzone .dz-preview, .dropzone-previews .dz-preview{
    margin-left: 35px;
}
.dropzone .dz-preview .dz-details{
    margin-bottom: 5px;
}
.dropzone a.dz-remove, 
.dropzone-previews a.dz-remove,
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size
{
    display: none;
    
}

/* Update Task list (invert color)*/
.list-tasks .list-tasks-item:hover, 
.list-tasks .list-tasks-item.active,
.widget-tabbed .widget-tabs>li.tab-task
{
    background-color: #fafafa;
}
.list-tasks .list-tasks-item,
.widget-tabbed .widget-tabs>li.tab-task.active>a,
.widget-tab.active
{
    background-color: #fff;
}

.task{
    padding-right: 20px;
}

.task .date{
    position: relative;
    left: 15px;
}

.list-tasks-item:hover .btn.btn-delete-task{
    opacity: 1;
    transition: 0.6s;
}
.btn.btn-delete-task{
    font-size: 1.1em;
    line-height: 15px;
    padding: 5px 9px 5px 9px;
    opacity: 0;
}

.delete-task{
    position: absolute;
    right: 10px;
    top: 10px;
}

/* Used to put white space on tooltip*/
.tooltip-inner {
    white-space:pre-wrap;
}


/** LOADER **/
.lds-new-customers-chart.lds-ring,
.lds-search-address-book.lds-ring {
    margin: auto;
    padding-top: 130px;
    width: 64px;
    height: 64px;
  }
.lds-search-address-book.lds-ring { padding-top: 75px; padding-bottom: 100px;}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #34495e;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #34495e transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
    @keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}