{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Ajout d'un produit{% endblock %}

{% block body %}
    <!-- page title -->
    <div class="page-title">
        <h1>Ajouter un produit</h1>

        <ul class="breadcrumb">
            <li><a href="{{path('homepage')}}">ISY-Gestion</a></li>
            <li>Gestion d'entreprise</li>
            <li>Ajouter un produits</li>
        </ul>
    </div>                        
    <!-- ./page title -->
    <div class="wrapper wrapper-white">
        {% include 'company/Form/product.html.twig' with {form:AddProductForm} only %}
    </div>
{% endblock %}
