<div class="dev-page-sidebar">
                    
        <div class="profile profile-transparent">
            <div class="profile-image">
                <img src="assets/images/users/user_default.png">
                <div class="profile-badges">
                    <a href="#" class="profile-badges-left"><i class="fa fa-trophy"></i> 243</a>
                    <a href="#" class="profile-badges-right"><i class="fa fa-users"></i> 1,971</a>
                </div>
                <div class="profile-status online"></div>
            </div>
            <div class="profile-info">
                <h4>David EVAN</h4>
                <span>Exanys Technology</span>
            </div>                        
        </div>
        
        <ul class="dev-page-navigation">
            <li class="title">Navigation</li>
            <li class="active">
                <a href="#"><i class="fa fa-desktop"></i> <span>Tableau de Bord</span></a>
            </li>                      
            <li>
                <a href="#"><i class="fa fa-users"></i> <span>Gestion commerciale</span></a>
                <ul>                               
                    <li><a href="#">Gestion des Affaires</a></li>                                
                    <li><a href="#">Gestion Clientèle</a></li>
                    <li><a href="#">Gestion Prospect</a></li>
                    <li><a href="#">Carnet d'adresse</a></li>
                </ul>
            </li>                        
            <li>
                <a href="#"><i class="fas fa-file-invoice"></i> <span>Facturation</span> </a>
                <ul>
                    <li><a href="#">Factures en attente<span class="label label-danger">+2</span> </a></li>
                    <li><a href="#">Factures archivés</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs"></i> <span>Gestion Entreprise</span></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-users"></i> <span>Développement</span></a>
                <ul>                               
                    <li><a href="{{ path('crm_client') }}">Afficher client</a></li>                                
                </ul>
            </li>  
        </ul>
        
    </div>